/* GLOBAL */
html, body, h1, { font-size: 1rem; }
html, body { height: 100%; }
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  content-visibility: auto;
	background-image: url(https://miro.medium.com/max/1908/1*-lo2Xy4F7GOuUjaTkj8YAA.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
header {
	position: relative;
	top: -29vh;
	left: -15vw;
}
h1 {
	font-style: sans-serif;
}
img {
  width: 100%;
  image-rendering: auto;
  margin: 1rem;
}
/* TYPESETTING */
body, h1, h2, h3, h4, h5, h6, p, span, dt, td, input, select, option {
  font-family: 'Quicksand', sans-serif;
}
a, a:link, a:default {
  color: #fff;
  opacity: 0.75;
}
a:hover {
  opacity: 1;
}
a:focus {}
a:active {
  outline: 2px solid gold;
}

